# dependencies
/node_modules

# Next.js output
/.next
/out

# production
/build

# local files
.DS_Store
*.log

# environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
